{% load static %}
{% load blog_tags %}
{% load crispy_forms_tags %}
<div class="post-footer flex">
    <a href="{{ post_url }}" class="remove-link">
        <button class="post-footer-comments post-footer-button flex">
            <img src="{% static 'svg/comment.svg' %}" alt="" class="small-icon">
            {% with post|comment_count as comments_quantity %}
                <p>{{ comments_quantity }} Comment{{ comments_quantity|pluralize }}</p>
            {% endwith %}
        </button>
    </a>
    </button>
    {% if request.user == post.author %}
        <a href="{% url 'delete_post' pk=post.id %}" class="remove-link">
            <button class="post-footer-delete post-footer-button flex">
                <img src="{% static 'svg/delete.svg' %}" alt="" class="small-icon">
                <p>Delete</p>
            </button>
        </a>
        <a href="{% url 'update_post' pk=post.id %}" class="remove-link">
            <button class="post-footer-edit post-footer-button flex">
                <img src="{% static 'svg/edit.svg' %}" alt="" class="small-icon">
                <p>Edit</p>
            </button>
        </a> 
    {% endif %}
</div>