{% extends 'base.html' %}
{% load  crispy_forms_tags %}
{% load static %}
{% block 'content' %}
    <div class="form-box container flex">
        <div class="default-image flex">
            <img src="{% if object.post_image %}{{ object.post_image.url }}{% else %}{% static 'images/default-img.jpg' %}{% endif %}" id="img-preview">
        </div>
        <form action="{% url 'update_post' pk=object.id %}" method="post" enctype="multipart/form-data" formTo="post">
            {% csrf_token %}
            {{ info_form|crispy }}
            <input type="submit" value='Update'>
        </form>
    </div>
{% endblock 'content' %}