{% extends 'base.html' %}
{% load static %}

{% block 'content' %}
    <div class="user-page">
        {% if user.user_image != '' %}
            <span class="user-image big-image"><img src="{{ user.user_image.url }}" alt="User Profile Pricture"></span>
        {% else %}
            <span class="user-image big-image"><img src="{% static 'images/default_user.jpg' %}" alt="User Profile Pricture"></span>
        {% endif %}
        <span class="username">{{ user.username }}</span>
        <span class="date-joined">{{ user.date_joined }}</span>
    </div>
    {% for post in user_posts %}
        {% include 'blog/post_base.html' %}
    {% endfor %}
{% endblock 'content' %}