{% extends 'base.html' %}
{% load static %}

{% block 'content' %}
        <div class="user-info container">
            <div class="user-image"><img src="{{ user.user_image.url }}" alt="User Profile Pricture" class="round-image"></div>
            <div class="username">{{ user.username|capfirst }}</div>
            <div class="date-joined">{{ user.date_joined|date:"Y" }}</div>
        </div>
        {% if post_list|length > 0 %}
            {% include 'blog/post_base.html' %}
        {% else %}
            <div class="container">
                <p>{{ user.username|capfirst }} does not have any posts yet!</p>
            </div>
        {% endif %}
{% endblock 'content' %}