{% extends 'base.html' %}
{% load  crispy_forms_tags %}
{% load static %}
{% block 'content' %}
    <div class="auth-form container flex">
        <div class="user-image">
            <img src="{{ request.user.user_image.url }}" alt="" class="round-image" id="img-preview">
        </div>
        
        <form action="{% url 'update_user_info' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ image_form|crispy }}
            {{ info_form|crispy }}
            <div class="update-password flex">
                <label>Password</label>
                <a href="{% url 'password_change' %}" class="update-pass-button img-button"><button type="button"><img src="{% static 'svg/edit.svg' %}" alt=""></button></a>   
            </div>
            <input type="submit" value='Update'>
        </form>
    </div>
{% endblock 'content' %}